<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.com.android_obd_reader" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>

        <service android:name="com.sohrab.obd.reader.service.ObdReaderService"
            android:enabled="true"
            />
    </application>
</manifest>
